# ignore assembled code
*.obj

*.gb
*.map
*.sym
*.sav

game.gb
game.map
game.sym
game.sav

# ignore song compilator binary
aria

# ignore generated song files
sources/songs/*.asm

# ignore mac files
.DS_Store


# VSCode Stuff
.vscode/
